<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" th:text="#{header.admin_editor}"></span>
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" th:name="${activePage}">
                <a th:class="${activePage == '/admin/competitions/'} ? 'nav-link active' : 'nav-link'" href="/admin/competitions/" th:text="#{header.competitions}"></a>
                <a th:class="${activePage == '/admin/competition-categories/'} ? 'nav-link active' : 'nav-link'" href="/admin/competition-categories/" th:text="#{header.competition_categories}"></a>
                <a th:class="${activePage == '/admin/beer-styles/'} ? 'nav-link active' : 'nav-link'" href="/admin/beer-styles/" th:text="#{header.beer_styles}"></a>
                <a th:class="${activePage == '/admin/competitors/'} ? 'nav-link active' : 'nav-link'" href="/admin/competitors/" th:text="#{header.competitors}"></a>
                <a th:class="${activePage == '/admin/beers/'} ? 'nav-link active' : 'nav-link'" href="/admin/beers/" th:text="#{header.beers}"></a>
                <div class="nav-item dropdown justify-content-end">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{header.language}">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="?lang=en" th:text="#{header.language.english}"></a></li>
                        <li><a class="dropdown-item" href="?lang=fi" th:text="#{header.language.finnish}"></a></li>
                        <li><a class="dropdown-item" href="?lang=sv" th:text="#{header.language.swedish}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
