<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/navbar"></nav>

<div class="container-fluid" th:unless="${#lists.isEmpty(currentBeers)}">
    <h3>Beers</h3>

    <a class="btn btn-primary" role="button" th:href="@{edit/}">Create new</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Competition</th>
            <th scope="col">Category</th>
            <th scope="col">Competitor</th>
            <th scope="col">Name</th>
            <th scope="col">Style</th>
            <th scope="col">Alcohol percentage</th>
            <th scope="col">Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${currentBeers}">
            <td>
                <a class="btn btn-secondary" role="button" th:data-href="@{delete/{id}(id=${b.id})}" data-bs-toggle="modal" data-bs-target="#modalDelete">Delete</a>
                <a class="btn btn-primary" role="button" th:data-href="@{edit/{id}(id=${b.id})}">Edit</a>
            </td>
            <td th:text="${b.competitionCategory.competition.name}"></td>
            <td th:text="${b.competitionCategory.name}"></td>
            <td th:text="${b.competitor.fullName}"></td>
            <td th:text="${b.name}"></td>
            <td th:text="${b.style}"></td>
            <td th:text="${b.alcoholPercentage}"></td>
            <td th:text="${b.comment}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/modaldelete"></div>
</body>
</html>
