<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div th:if="${showNavBar == true}">
    <nav th:replace="fragments/navbar"></nav>
</div>

<div class="container-fluid">
    <h3>Edit beer</h3>
    <form action="#"
          th:action="@{/admin/beers/upsert/{id}(id=${beer.id})}"
          th:object="${beer}"
          method="post">

        <div class="mb-3">
            <label for="competitionCategoryBeerStyle" class="form-label">Competiton, category and style</label>
            <select th:field="*{competitionCategoryBeerStyle}" class="form-select">
                <option th:each="c : ${competitionCategoryBeerStyles}" th:value="${c.id}" th:text="${c.competitionCategory.competition.name} + ' \ ' + ${c.competitionCategory.name} + ' \ '  + ${c.beerStyle.name}">
                </option>
            </select>
            <span th:if="${#fields.hasErrors('competitionCategoryBeerStyle')}" th:errors="*{competitionCategoryBeerStyle}"></span>
        </div>

        <div class="mb-3">
            <label for="competitor" class="form-label">Competitor</label>
            <select th:field="*{competitor}" id="competitor" class="form-select">
                <option th:each="c : ${competitors}" th:value="${c.id}" th:text="${c.fullName}">
                </option>
            </select>
            <span th:if="${#fields.hasErrors('competitor')}" th:errors="*{competitor}"></span>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name (not shown to judges)</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name" class="form-control">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="mb-3">
            <label for="comment" class="form-label">Comment (spices, fruits, etc.)</label>
            <input type="text" th:field="*{comment}" id="comment" placeholder="Comment" class="form-control">
            <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
        </div>

        <div class="mb-3">
            <label for="alcoholPercentage" class="form-label">Alcohol percentage</label>
            <input type="number" th:field="*{alcoholPercentage}" id="alcoholPercentage" placeholder="Alcohol percentage"
                   step="0.1" class="form-control">
            <span th:if="${#fields.hasErrors('alcoholPercentage')}" th:errors="*{alcoholPercentage}"></span>
        </div>

        <div class="mb-3">
            <label for="ibu" class="form-label">IBU (International Bitterness Units)</label>
            <input type="number" th:field="*{ibu}" id="ibu" placeholder="IBU"
                   step="0.1" class="form-control">
            <span th:if="${#fields.hasErrors('ibu')}" th:errors="*{ibu}"></span>
        </div>

        <div class="mb-3">
            <label for="ibu" class="form-label">EBC color (European Brewery Convention), EBC = SRM x 1.97</label>
            <input type="number" th:field="*{ebc}" id="ebc" placeholder="EBC"
                   step="0.1" class="form-control">
            <span th:if="${#fields.hasErrors('ebc')}" th:errors="*{ebc}"></span>
        </div>

        <input type="submit" th:value="${beer.id} ? 'Update beer' : 'Insert beer'" class="btn btn-primary">
        <a class="btn btn-secondary" role="button" th:href="${activePage}">Cancel</a>
    </form>
</div>

</body>
</html>
