<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div th:if="${showNavBar == true}">
    <nav th:replace="fragments/navbar"></nav>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <br/>
            <a class="btn btn-primary" role="button" th:href="@{edit/}">Create new</a>
        </div>
    </div>

    <form class="row gy-2 gx-3 align-items-center" id="filterForm" th:action="@{''}" th:if="${showFilters == true}">
        <div class="col-auto">
            <label for="competitionCategory" class="col-sm-2 col-form-label">Competition category</label>
            <select name="competitionCategory" id="competitionCategory" class="form-select">
                <option value="">All</option>
                <option th:each="c : ${competitionCategories}" th:value="${c.id}" th:text="${c.name}" th:selected="${c.id} == ${competitionCategory.id}"></option>
            </select>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${beerStyles}">
            <td>
                <!-- TODO: Only show delete when possible -->
                <a class="btn btn-secondary" role="button" th:data-href="@{delete/{id}/(id=${b.id})}" data-bs-toggle="modal" data-bs-target="#modalDelete">Delete</a>
                <a class="btn btn-primary" role="button" th:href="@{edit/{id}/(id=${b.id})}">Edit</a>
            </td>
            <td th:text="${b.name}"></td>
            <td th:text="${b.description}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/modaldelete"></div>

<script>
    document.querySelectorAll('#filterForm select').forEach(function (field) {
        field.addEventListener('change', function (_e) {
            document.getElementById('filterForm').submit();
        });
    });
</script>

</body>
</html>
