<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/navbar"></nav>
<div class="container-fluid">
    <h3>Edit beer</h3>
    <form action="#"
          th:action="@{/admin/beers/upsert/{id}(id=${beer.id})}"
          th:object="${beer}"
          method="post">

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name" class="form-control">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="mb-3">
            <label for="style" class="form-label">Style</label>
            <input type="text" th:field="*{style}" id="style" placeholder="Style" class="form-control">
            <span th:if="${#fields.hasErrors('style')}" th:errors="*{style}"></span>
        </div>

        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" th:field="*{comment}" id="comment" placeholder="Comment" class="form-control">
            <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
        </div>

        <div class="mb-3">
            <label for="alcoholPercentage" class="form-label">Alcohol percentage</label>
            <input type="number" th:field="*{alcoholPercentage}" id="alcoholPercentage" placeholder="Alcohol percentage"
                   step="0.1" class="form-control">
            <span th:if="${#fields.hasErrors('alcoholPercentage')}" th:errors="*{alcoholPercentage}"></span>
        </div>

        <div class="mb-3">
            <label for="competitionCategory" class="form-label">Competition and category</label>
            <select th:field="*{competitionCategory}" id="competitionCategory" class="form-select">
                <option th:each="c : ${competitionCategories}" th:value="${c.id}" th:text="${c.competitionAndName}">
                </option>
            </select>
            <span th:if="${#fields.hasErrors('competitionCategory')}" th:errors="*{competitionCategory}"></span>
        </div>

        <div class="mb-3">
            <label for="competitor" class="form-label">Competitor</label>
            <select th:field="*{competitor}" id="competitor" class="form-select">
                <option th:each="c : ${competitors}" th:value="${c.id}" th:text="${c.fullName}">
                </option>
            </select>
            <span th:if="${#fields.hasErrors('competitor')}" th:errors="*{competitor}"></span>
        </div>

        <input type="submit" th:value="${beer.id} ? 'Update beer' : 'Insert beer'" class="btn btn-primary">
        <a class="btn btn-secondary" role="button" th:href="@{/admin/beers/}">Cancel</a>
    </form>
</div>

</body>
</html>
