<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div th:if="${showNavBar == true}">
    <nav th:replace="fragments/navbar"></nav>
</div>

<div class="container">
    <h3 th:text="#{header.edit_beer_style}"></h3>
    <form action="#"
          th:action="@{/admin/beer-styles/upsert/{id}(id=${beerStyle.id})}"
          th:object="${beerStyle}"
          method="post">

        <div class="mb-3" th:text="#{form.required_field}"></div>

        <div class="mb-3">
            <label for="name" class="form-label" th:text="#{beer_style.name}"></label>
            <input type="text" th:field="*{name}" id="name" th:placeholder="#{beer_style.name}" class="form-control">
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label" th:text="#{beer_style.description}"></label>
            <input type="text" th:field="*{description}" id="description" th:placeholder="#{beer_style.description}" class="form-control">
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>

        <input type="submit" th:value="${id} ? #{button.update_beer_style} : #{button.insert_beer_style}" class="btn btn-primary">
        <a class="btn btn-secondary" role="button" th:href="${activePage}" th:text="#{button.cancel}"></a>
    </form>
</div>

</body>
</html>
