<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div th:if="${showNavBar == true}">
    <nav th:replace="fragments/navbar"></nav>
</div>

<div class="container">
    <h3>Edit beer style</h3>
    <form action="#"
          th:action="@{/admin/beer-styles/upsert/{id}(id=${beerStyle.id})}"
          th:object="${beerStyle}"
          method="post">

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name" class="form-control">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" th:field="*{description}" id="description" placeholder="description" class="form-control">
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <input type="submit" th:value="${id} ? 'Update beer style' : 'Insert beer style'" class="btn btn-primary">
        <a class="btn btn-secondary" role="button" th:href="${activePage}">Cancel</a>
    </form>
</div>

</body>
</html>
