<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div th:if="${showNavBar == true}">
    <nav th:replace="fragments/navbar"></nav>
</div>

<nav class="navbar navbar-light bg-light" th:unless="${showFilters == true}" th:if="${competition != null}">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" th:text="${competition.name}"></span>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <br/>
            <a class="btn btn-primary" role="button" th:href="@{edit/}" th:text="#{button.add_new_beer}"></a>
        </div>
    </div>

    <form class="row gy-2 gx-3 align-items-center" id="filterForm" th:action="@{''}" th:if="${showFilters == true}">
        <div class="col-auto">
            <label for="competition" class="col-sm-2 col-form-label" th:text="#{beer.competition}"></label>
            <select name="competition" id="competition" class="form-select">
                <option value="" th:text="#{filter.all}"></option>
                <option th:each="c : ${competitions}" th:value="${c.id}" th:text="${c.name}" th:selected="${c.id} == ${competition.id}"></option>
            </select>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" th:text="#{beer.competition}"></th>
            <th scope="col" th:text="#{beer.category}"></th>
            <th scope="col" th:text="#{beer.style}"></th>
            <th scope="col" th:text="#{beer.competitor}"></th>
            <th scope="col" th:text="#{beer.number}"></th>
            <th scope="col" th:text="#{beer.name}"></th>
            <th scope="col" th:text="#{beer.alcohol}"></th>
            <th scope="col" th:text="#{beer.ibu}"></th>
            <th scope="col" th:text="#{beer.ebc}"></th>
            <th scope="col" th:text="#{beer.delivered}"></th>
            <th scope="col" th:text="#{beer.finalist}"></th>
            <th scope="col" th:text="#{beer.score}"></th>
            <th scope="col" th:text="#{beer.comment}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${beers}">
            <td>

                <a class="btn btn-secondary" role="button" th:data-href="${competition != null && competitor != null} ? @{/registration/competition/{competitionId}/person/{competitorId}/beers/delete/{beerId}/(competitionId=${competition.id},competitorId=${competitor.id},beerId=${b.id})} : @{delete/{id}/(id=${b.id})}" data-bs-toggle="modal" data-bs-target="#modalDelete" th:text="#{button.delete}"></a>
                <a class="btn btn-primary" role="button" th:href="${competition != null && competitor != null} ? @{/registration/competition/{competitionId}/person/{competitorId}/beers/edit/{beerId}/(competitionId=${competition.id},competitorId=${competitor.id},beerId=${b.id})} : @{edit/{id}/(id=${b.id})}" th:text="#{button.edit}"></a>
            </td>
            <td th:text="${b.competitionCategoryBeerStyle.competitionCategory.competition.name}"></td>
            <td th:text="${b.competitionCategoryBeerStyle.competitionCategory.name}"></td>
            <td th:text="${b.competitionCategoryBeerStyle.beerStyle.name}"></td>
            <td th:text="${b.competitor.fullName}"></td>
            <td th:text="${b.beerNumber}"></td>
            <td th:text="${b.name}"></td>
            <td th:text="${#numbers.formatDecimal(b.alcoholPercentage, 1, 'DEFAULT', 1, 'COMMA')} + ' %'"></td>
            <td th:text="${#numbers.formatDecimal(b.ibu, 1, 'DEFAULT', 1, 'COMMA')}"></td>
            <td th:text="${#numbers.formatDecimal(b.ebc, 1, 'DEFAULT', 1, 'COMMA')}"></td>
            <td th:text="${b.delivered}"></td>
            <td th:text="${b.finalist}"></td>
            <td th:text="${#numbers.formatDecimal(b.score, 1, 'DEFAULT', 0, 'COMMA')}"></td>
            <td th:text="${b.comment}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/modaldelete"></div>

<script>
    document.querySelectorAll('#filterForm select').forEach(function (field) {
        field.addEventListener('change', function (_e) {
            document.getElementById('filterForm').submit();
        });
    });
</script>

</body>
</html>
