<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div th:if="${showNavBar == true}">
    <nav th:replace="fragments/navbar"></nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <br/>
            <a class="btn btn-primary" role="button" th:href="@{edit/}" th:text="#{button.create_new}"></a>
        </div>
    </div>

    <form class="row gy-2 gx-3 align-items-center" id="filterForm" th:action="@{''}" th:if="${showFilters == true}">
        <div class="col-auto">
            <label for="competition" class="col-sm-2 col-form-label" th:text="#{competition.type}"></label>
            <select name="competition" id="competition" class="form-select">
                <option value="" th:text="#{filter.all}"></option>
                <option th:each="c : ${competitions}" th:value="${c.id}" th:text="${c.name}" th:selected="${c} == ${competition}"></option>
            </select>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" th:text="#{competitor.last_name}"></th>
            <th scope="col" th:text="#{competitor.first_name}"></th>
            <th scope="col" th:text="#{competitor.location}"></th>
            <th scope="col" th:text="#{competitor.phone}"></th>
            <th scope="col" th:text="#{competitor.email}"></th>
            <th scope="col" th:text="#{competitor.beers}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${competitors}">
            <td>
                <a class="btn btn-secondary" role="button" th:data-href="@{delete/{id}/(id=${c.id})}"
                   th:if="${#lists.isEmpty(c.beers)}"
                   data-bs-toggle="modal" data-bs-target="#modalDelete" th:text="#{button.delete}"></a>
                <button type="button" class="btn btn-secondary"
                        th:unless="${#lists.isEmpty(c.beers)}" disabled th:text="#{button.delete}"></button>
                <a class="btn btn-primary" role="button" th:href="@{edit/{id}/(id=${c.id})}" th:text="#{button.edit}"></a>
            </td>
            <td th:text="${c.lastName}"></td>
            <td th:text="${c.firstName}"></td>
            <td th:text="${c.location}"></td>
            <td th:text="${c.phoneNumber}"></td>
            <td th:text="${c.emailAddress}"></td>
            <td th:text="${c.beers.size}"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/modaldelete"></div>

<script>
    document.querySelectorAll('#filterForm select').forEach(function (field) {
        field.addEventListener('change', function (_e) {
            document.getElementById('filterForm').submit();
        });
    });
</script>

</body>
</html>
