<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div th:if="${showNavBar == true}">
    <nav th:replace="fragments/navbar"></nav>
</div>

<div class="container">
    <h3 th:text="#{header.edit_competitor}"></h3>

    <div class="mb-3" th:text="#{form.required_field}"></div>

    <div class="mb-3" th:if="${competition != null}">
        <label for="competition" class="form-label" th:text="#{beer.competition}"></label>
        <input type="text" disabled="disabled" th:field="*{competition.name}" id="competition" th:placeholder="#{beer.competition}" class="form-control">
    </div>

    <form action="#"
          th:action="${competition != null} ? @{/registration/competition/{competitionId}/person/upsert/{competitorId}(competitionId=${competition.id},competitorId=${competitor.id})} : @{/admin/competitors/upsert/{id}(id=${competitor.id})}"
          th:object="${competitor}"
          method="post">

        <div class="mb-3">
            <label for="firstName" class="form-label" th:text="#{competitor.first_name} + ' *'"></label>
            <input type="text" th:field="*{firstName}" id="firstName" th:placeholder="#{competitor.first_name} + ' *'" class="form-control">
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label" th:text="#{competitor.last_name} + ' *'">Last name</label>
            <input type="text" th:field="*{lastName}" id="lastName" th:placeholder="#{competitor.last_name} + ' *'" class="form-control">
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>

        <div class="mb-3">
            <label for="emailAddress" class="form-label" th:text="#{competitor.email} + ' *'"></label>
            <input type="text" th:field="*{emailAddress}" id="emailAddress" th:placeholder="#{competitor.email} + ' *'" class="form-control">
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label" th:text="#{competitor.location} + ' *'"></label>
            <input type="text" th:field="*{location}" id="location" th:placeholder="#{competitor.location} + ' *'" class="form-control">
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></div>
        </div>

        <div class="mb-3">
            <label for="groupName" class="form-label" th:text="#{competitor.optional_group_or_brewery_name}"></label>
            <input type="text" th:field="*{groupName}" id="groupName" th:placeholder="#{competitor.optional_group_or_brewery_name}" class="form-control">
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}"></div>
        </div>

        <div class="mb-3">
            <label for="phoneNumber" class="form-label" th:text="#{competitor.phone}"></label>
            <input type="text" th:field="*{phoneNumber}" id="phoneNumber" th:placeholder="#{competitor.phone}" class="form-control">
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
        </div>

        <input type="submit" th:value="#{button.save}" class="btn btn-primary">
        <a class="btn btn-secondary" role="button" th:href="${activePage}" th:text="#{button.cancel}"></a>
    </form>
</div>

</body>
</html>
