<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/navbar"></nav>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <br/>
            <a class="btn btn-primary" role="button" th:href="@{edit/}">Create new</a>
        </div>
    </div>

    <form class="row gy-2 gx-3 align-items-center" id="filterForm" th:action="@{''}">
        <div class="col-auto">
            <label for="competition" class="col-sm-2 col-form-label">Competition</label>
            <select name="competition" id="competition" class="form-select">
                <option value="">All</option>
                <option th:each="c : ${competitions}" th:value="${c.id}" th:text="${c.name}" th:selected="${c.id} == ${competition.id}"></option>
            </select>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Competition</th>
            <th scope="col">Beer styles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${competitionCategories}">
            <td>
                <!-- TODO: Only show delete when possible -->
                <a class="btn btn-secondary" role="button" th:data-href="@{delete/{id}(id=${c.id})}" data-bs-toggle="modal" data-bs-target="#modalDelete">Delete</a>
                <a class="btn btn-primary" role="button" th:href="@{edit/{id}(id=${c.id})}">Edit</a>
            </td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.competition.name}"></td>
            <td th:text="${c.beerStyles.size}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/modaldelete"></div>

<script>
    document.querySelectorAll('#filterForm select').forEach(function (field) {
        field.addEventListener('change', function (_e) {
            document.getElementById('filterForm').submit();
        });
    });
</script>

</body>
</html>
