<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div th:if="${showNavBar == true}">
    <nav th:replace="fragments/navbar"></nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <br/>
            <a class="btn btn-primary" role="button" th:href="@{edit/}" th:text="#{button.create_new}"></a>
        </div>
    </div>

    <form class="row gy-2 gx-3 align-items-center" id="filterForm" th:action="@{''}" th:if="${showFilters == true}">
        <div class="col-auto">
            <label for="competitionType" class="col-sm-2 col-form-label" th:text="#{competition.type}"></label>
            <select name="competitionType" id="competitionType" class="form-select">
                <option value="" th:text="#{filter.all}"></option>
                <option th:each="type : ${competitionTypes}" th:value="${type}" th:text="${type}" th:selected="${type} == ${competitionType}"></option>
            </select>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" th:text="#{competition.name}"></th>
            <th scope="col" th:text="#{competition.description}"></th>
            <th scope="col" th:text="#{competition.type}"></th>
            <th scope="col" th:text="#{competition.categories}"></th>
            <th scope="col" th:text="#{competition.beers}"></th>
            <th scope="col" th:text="#{competition.competitors}"></th>
            <th scope="col" th:text="#{competition.deadline_date}"></th>
            <th scope="col" th:text="#{competition.registration_link}"></th>
            <th scope="col" th:text="#{competition.scoreURL}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${competitions}">
            <td>
                <a class="btn btn-secondary" role="button" th:data-href="@{delete/{id}/(id=${c.id})}"
                   th:if="${#lists.isEmpty(c.competitors) && #lists.isEmpty(c.competitionCategories)}"
                   data-bs-toggle="modal" data-bs-target="#modalDelete" th:text="#{button.delete}"></a>
                <button type="button" class="btn btn-secondary"
                        th:unless="${#lists.isEmpty(c.competitors) && #lists.isEmpty(c.competitionCategories)}" disabled th:text="#{button.delete}"></button>
                <a class="btn btn-primary" role="button" th:href="@{edit/{id}/(id=${c.id})}" th:text="#{button.edit}"></a>
            </td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.description}"></td>
            <td th:text="${c.type}"></td>
            <td th:text="${c.competitionCategories.size}"></td>
            <td><a th:text="${c.beers.size}" th:href="@{../beers/(competition=${c.id})}"></a></td>
            <td><a th:text="${c.competitors.size}" th:href="@{../competitors/(competition=${c.id})}"></a></td>
            <td th:text="${#dates.format(c.deadlineDate, 'dd.MM.yyyy')}"></td>
            <td><a th:href="@{/registration/competition/{id}/(id=${c.id})}" target="_blank" th:text="#{competition.link}"></a></td>
            <td th:text="${c.scoreURL}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/modaldelete"></div>

<script>
    document.querySelectorAll('#filterForm select').forEach(function (field) {
        field.addEventListener('change', function (_e) {
            document.getElementById('filterForm').submit();
        });
    });
</script>

</body>
</html>
