<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<nav class="navbar navbar-light bg-light" th:unless="${showFilters == true}" th:if="${competition != null}">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" th:text="${competition.name}"></span>
    </div>
</nav>

<div class="container-fluid">
    <br>

    <div class="row">
        <div class="col">
            <a class="btn btn-primary" role="button" th:href="@{edit/}">Add new beer</a>
            <a class="btn btn-primary" role="button" th:href="@{../edit/}">Edit own details</a>
        </div>
    </div>

    <hr>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Category</th>
            <th scope="col">Style</th>
            <th scope="col">Competitor</th>
            <th scope="col">Name</th>
            <th scope="col">Alc.</th>
            <th scope="col">IBU</th>
            <th scope="col">EBC</th>
            <th scope="col">Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${beers}">
            <td>
                <a class="btn btn-secondary" role="button" th:data-href="@{delete/{id}/(id=${b.id})}" data-bs-toggle="modal" data-bs-target="#modalDelete">Delete</a>
                <a class="btn btn-primary" role="button" th:href="@{edit/{id}/(id=${b.id})}">Edit</a>
            </td>
            <td th:text="${b.competitionCategoryHasBeerStyle.competitionCategory.name}"></td>
            <td th:text="${b.competitionCategoryHasBeerStyle.beerStyle.name}"></td>
            <td th:text="${b.competitor.fullName}"></td>
            <td th:text="${b.name}"></td>
            <td th:text="${#numbers.formatDecimal(b.alcoholPercentage, 1, 'DEFAULT', 1, 'COMMA')} + ' %'"></td>
            <td th:text="${#numbers.formatDecimal(b.ibu, 1, 'DEFAULT', 1, 'COMMA')}"></td>
            <td th:text="${#numbers.formatDecimal(b.ebc, 1, 'DEFAULT', 1, 'COMMA')}"></td>
            <td th:text="${b.comment}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/modaldelete"></div>

<script>
    document.querySelectorAll('#filterForm select').forEach(function (field) {
        field.addEventListener('change', function (_e) {
            document.getElementById('filterForm').submit();
        });
    });
</script>

</body>
</html>
