<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<nav class="navbar navbar-light bg-light" th:unless="${showFilters == true}" th:if="${competition != null}">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" th:text="${competition.name} + ' - ' + ${competitor.fullName} + (${#strings.isEmpty(competitor.groupName)} ? '' : ' / ' + ${competitor.groupName})"></span>
        <div class="nav-item dropdown justify-content-end">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{header.language}">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="?lang=en" th:text="#{header.language.english}"></a></li>
                <li><a class="dropdown-item" href="?lang=fi" th:text="#{header.language.finnish}"></a></li>
                <li><a class="dropdown-item" href="?lang=sv" th:text="#{header.language.swedish}"></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <br>

    <div class="row">
        <div class="col">
            <a class="btn btn-primary" role="button" th:href="@{edit/}" th:text="#{button.add_new_beer}"></a>
            <a class="btn btn-primary" role="button" th:href="@{../edit/}" th:text="#{button.edit_own_details}"></a>
        </div>
    </div>

    <hr>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" th:text="#{beer.number}"></th>
            <th scope="col" th:text="#{beer.category}"></th>
            <th scope="col" th:text="#{beer.style}"></th>
            <th scope="col" th:text="#{beer.name}"></th>
            <th scope="col" th:text="#{beer.alcohol}"></th>
            <th scope="col" th:text="#{beer.ibu}"></th>
            <th scope="col" th:text="#{beer.ebc}"></th>
            <th scope="col" th:text="#{beer.comment}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${beers}">
            <td>
                <a class="btn btn-secondary" role="button" th:data-href="@{delete/{id}/(id=${b.id})}" data-bs-toggle="modal" data-bs-target="#modalDelete" th:text="#{button.delete}"></a>
                <a class="btn btn-primary" role="button" th:href="@{edit/{id}/(id=${b.id})}" th:text="#{button.edit}"></a>
            </td>
            <td th:text="${b.beerNumber}"></td>
            <td th:text="${b.competitionCategoryBeerStyle.competitionCategory.name}"></td>
            <td th:text="${b.competitionCategoryBeerStyle.beerStyle.name}"></td>
            <td th:text="${b.name}"></td>
            <td th:text="${#strings.isEmpty(b.alcoholPercentage) ? '' : (#numbers.formatDecimal(b.alcoholPercentage, 1, 'DEFAULT', 1, 'COMMA') + ' %')}"></td>
            <td th:text="${#numbers.formatDecimal(b.ibu, 1, 'DEFAULT', 0, 'COMMA')}"></td>
            <td th:text="${#numbers.formatDecimal(b.ebc, 1, 'DEFAULT', 0, 'COMMA')}"></td>
            <td th:text="${b.comment}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/modaldelete"></div>

<script>
    document.querySelectorAll('#filterForm select').forEach(function (field) {
        field.addEventListener('change', function (_e) {
            document.getElementById('filterForm').submit();
        });
    });
</script>

</body>
</html>
